:root {
	--bodycolor: rgb(27, 27, 27);
	--maincolor: rgb(38, 38, 38);
  --themecolor: #03dac5;
	--errorcolor: #Cf6679;
	--bgcolor: #050505;
  --mainfont: 'Harmattan', sans-serif;
	--secondfont: 'Nunito', sans-serif;
  --mainradius: 8px;
	--cardbackground: rgb(38, 38, 38);
  --white: #fff;
  --border: rgba(255,255,255,.1);
  --shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  --text-color: #fff;
  --light-text: rgba(255,255,255,0.6);
  --text-color-headline: #3F4656;
}
h1 {
	margin: 0;
	font-size: 34px;
}
body {
	background: var(--bodycolor);
	padding: 0;
	margin: 0;
 font-family: var(--mainfont);
 color: var(--text-color);
	transition: .333s;
}
.nav-inside {
	width: 97%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding-left: 15px;
	padding-right: 10px
}
.nav-bar {
	background: var(--maincolor);
	color: #fff;
	padding-top: 7px;
	overflow: hidden;
	top:0;
position: -webkit-sticky;
position: sticky;
z-index: 9;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}
.basic-card {
		background: var(--cardbackground);
	overflow: hidden;
	width: 97%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 15px;
	border-radius: var(--mainradius);
	transition: all .333s;
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);

}
#ark-calculator-current-item {
 transition: all 0.333s;
      margin-top: 10px;
	box-shadow: var(--shadow);
    border-radius: 5px;
width: 97%;
	background: var(--cardbackground);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
	transition: .333s;

}
#ark-calculator-current-item:empty ~ .clear {
  display: none;
}
#ark-calculator-current-item:empty ~ .light-text {
  display: none;
}
#ark-calculator-totals:empty {
  border: none !important;
}
#ark-calculator-current-item:empty  {
border: none;
}
.ark-js-link:hover {
	cursor: pointer;
}
.ark-calculator-totals-container {
	animation: slide-in-bottom 0.333s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}
.ark-js-link {
	font-weight: bold;
  font-size: 24px;
      width: 100%;
    /* background: red; */
    display: block;
}
.ark-js-link img{
  width: 25px !important;
  height: 25px !important;
  display: block;
  margin-right: 10px;
  margin-left: 10px;

}

.ark-item-name {
	font-weight: bold;
	font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
.ark-item-popup:before {
  background: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ark-item-popup {
	font-size: 12px;
  transition: all 0.333s;
}
.ark-item-popup-head {
  position: relative;
}
.ark-search-item-match
{
	width: 200px;
	height: 22px;
}

#ark-search-box {
	display: inline;
}

#ark-search-item-matches {
    display: none;
    visibility: hidden;
    border-radius: 5px;
    background: var(--cardbackground);
    color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.42), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 5px;
    border: 0px solid var(--border);
    position: absolute;
    top: 60px;
    left: 0 !important;
    right: 0 !important;
    margin-top: 40px;
    width: 97%;
    z-index: 999;
    max-width: 745px;
    margin-left: auto;
    margin-right: auto;
}

#ark-calculator-quantity {
}

.ark-calculator-item-name
{
	margin-left: 10px;
	margin-right: 8px;
	display: inline;
}

.ark-calculator-entry {
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 7px;
    font-weight: bold;
    vertical-align: baseline;
  
}

.ark-item-id {
	font-size: 11px;
	font-weight: bold;
	float: right;
}

.ark-item-image {
	width: 32px;
	height: 32px;
  filter: drop-shadow(1px 1px 1px rgba(255,255,255,0.25));
}

.ark-item-image-container {
	width: 100%;
  text-align: center;
	display: block;
  padding-top: 10px;
}

.ark-item-description {
	float: right;
	width: 50%;
}

.ark-float-clear {
	clear: both;
}

.ark-item-recipe-image {
	width: 20px;
	height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.popup-recipe-name {
  display: block;
  font-size: 18px;
  margin: 2px;
}
.ark-item-recipe-item {
width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ark-item-recipe {
    display: flex;
    flex-wrap: wrap;  
  margin-top: 10px;
}
.close-btn {
  position:absolute;
  top: 15px;
  right: 12px;
  font-size: 17px;
}
.ark-close-popup-link {
	cursor: pointer;
	font-weight: bold;
	margin-left: 10px;
	color: blue;
	text-decoration: underline;
}

.ark-item-trace {
	margin-left: 20px;
}
.ark-search-item-result {
padding-top: 5px;
padding-bottom: 5px;
}
.ark-search-item-result img {
  display: inline-block !important;
  vertical-align: middle;
  filter: drop-shadow(1px 1px 1px rgba(255,255,255,0.2));
}
input, .add-item {
    background: 0 0;
    font-size: 1.3em;
    outline: none;
    border-width: 0;
    margin: 0;
    padding-top: .6em;
      padding-bottom: .6em;
    border-radius: 8px;
   border: 2px solid var(--border);
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
    margin-bottom: 10px;
  border-radius: var(--mainradius);
	border: 2px solid rgba(255,255,255,0.25);
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .00937em;
}
.padding-box {
    padding: 15px;
    padding-bottom: 5px;
}
.padding-sides {
    padding-left: 15px;
    padding-right: 15px;
}
.item-input {
  width: 70%;
  border-radius: 0px;
      border-left-width: 0;
  border-right: none;
  padding-left: .6em;
}
.number-input {
  width: 15%;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
}
.add-item {
    width: 14.3%;
    text-align: center;
    display: inline-block;
    padding-top: 12.2px;
    padding-bottom: 12.6px;
    border-radius: 0px 8px 8px 0px;
  border-left: 2px;
  border-color: var(--themecolor);
  background: var(--themecolor);
  color: #000;
}
.clear-all-items {
    background: var(--maincolor);
    border: none;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
      padding-top: .3em;
      padding-bottom: .2em;
  border-radius: 8px;
    border: 2px solid rgba(0,0,0,.75);
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: .00937em;
}
.clear-all-items {
  background: transparent;
  width: auto;
  border: none;
  color: #Cf6679;
  text-align: center;
  float: right;
  padding-right: 5px;
}
.remove-item {
    float: right;
    color: #Cf6679;
    font-size: 17px;
    margin-top: 1px;
    margin-right: 10px;
    border: 0;
}
.item-totals {
  width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;

}
#ark-calculator-totals {
    display: flex;
  flex-wrap: wrap;
  width: 97%;
	background: var(--cardbackground);
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
		box-shadow: var(--shadow);
	border-radius: 5px;
  text-align: center;
}
.item-name {
  display: block;
  font-size: 12px;
  color: var(--light-text);
}
.item-image {
  width: 24px;
  height: 24px;
  display: block;
      margin-left: auto;
    margin-right: auto;
}
.amount {
  font-weight: 700;
margin-top: 4px;
    margin-bottom: -4px;
  font-size: 22px;
}
.clear {
  background: transparent;
  box-shadow: none;
  border: none;
  margin-top: -5px;
}
.title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
}
.less-padding {
  padding: 0px;
  padding-left: 5px;
}
#ark-calculator-current-item::before {
}
#bulkmenu, #settingsmenu, #aboutmenu {
	background: var(--bodycolor);
	text-align: center;
	width: 100%;
	top: 0;
	bottom: 0;
	position: fixed;
	overflow-y: scroll;
	transition: .333s;
	z-index: 99999;
	-webkit-transform: translatey(103%);
	transform: translatey(103%);
	will-change: transform;
}
.show {
	-webkit-transform: none !important;
	transform: none !important;
	will-change: transform;
}
.menu-header {
	color: var(--white);
	background: var(--cardbackground);
	font-weight: 500;
	font-size: 28px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.closer {
	background: 0 0;
	border: 2px solid transparent;
	padding: 1px 5px 0;
	border-radius: 50px;
	position: absolute;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	top: 15px;
	left: 25px
}
.menu-btn {
	color: #fff;
	background: 0 0;
	border: 2px solid transparent;
	padding: 1px 5px 0;
	border-radius: 50px;
	position: absolute;
	font-weight: 500;
	font-size: 20px;
	top: 20.25px;
	left: 15px
}
#menu {
	background: var(--cardbackground);
	color: var(--text-color);
	width: 70%;
	max-width: 400px;
	text-align: center;
	top: 0;
	bottom: 0;
	overflow: hidden;
	border-radius: 0px 8px 8px 0px;
	position: fixed;
	overflow: hidden;
	z-index: 999;
	transition: all .222s ease-in;
	box-shadow: 0 1px 2px 1px rgba(60, 64, 67, .08), 0 1px 1px 0 rgba(60, 64, 67, .16);
	text-align: left;
	-webkit-transform: translateX(-103%);
	transform: translateX(-103%);
	will-change: transform;
}
.show {
	-webkit-transform: none !important;
	transform: none !important;
	will-change: transform;
	z-index:999999;
	transition: all 330ms ease-out;
}
.slide-menu-header {
	color: var(--maincolor);
	border-bottom: 2px solid transparent;
	font-weight: 600;
	font-size: 25px;
	text-align: left;
	padding: 10px;
	padding-top: 13px;
	margin-bottom: 5px;
	border-bottom: 0px solid #FBFBFB;
}
.menu-box {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}
.menu-link {
	color: var(--light-text);
	font-weight: 400;
	display: block;
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	margin-bottom: 13px;
	transition: .333s;
}
.menu-link:hover {
	color: #c33c54
}
.menu-title {
	color: var(--text-color);
	display: block;
	font-size: 12px;
	margin-bottom: 7px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.menu-btm {
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	padding-top: 10px;
	text-align: center;
	border-top: 2px solid transparent;
	color: rgba(255, 255, 255, .55);
	display: flex;
	width: 100%;
}
.btm-menu-box {
	font-size: 20px;
	width: 50%;
	margin-bottom: 20px;
  font-size: bold;
}

.closer {
	font-size: 20px;
	margin-top: -1px;
}
#darken {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: all 200ms;
}
.hidden {
  display: none;
}
.overlay {
	visibility: visible !important;
	opacity: 1 !important;
	transition: all 200ms;
}
.theme-btn, .fuel-amount-btn {
	padding: .6em;
	background: #243447;
  color: #fff;
  font-weight: 700;
	border-radius: 8px;
	border: 0px solid rgba(255, 255, 255, .75);
	font-size: 1rem;
	font-weight: 600;
	width: 100%;
	max-width: 125px;
	text-align: center;
	letter-spacing: .00937em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
  display: inline-block;

}
.theme-btn::before {
	content: "Light Theme";
}
#ark-search-item-matches:empty  { 
  text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
transition: all 0.333s;
}

#ark-search-item-matches:empty::before  {
  	content: "Nothing Found :(";
font-size: 32px;
}
